# Ignore node_modules directory
node_modules/

# Ignore logs and runtime data files
logs/
*.log
npm-debug.log*

# Ignore environment files
.env

# Ignore user-specific files
.vscode/
.DS_Store
Thumbs.db

# Ignore build and compiled files
/build/
/dist/

# Ignore local development files
.env*.local
